!!!5
%html{lang: "en"}
  %head
    <meta name="viewport" content="width=device-width, initial-scale=1">
    %link{href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel: "stylesheet", integrity: "sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin: "anonymous"}
    %script{src: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity: "sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin: "anonymous"}
  %body
    .container
      %h1 Sky
      .row
        .col-md-4
          %h3 Statement
          %ul.list-group
            %li.list-group-item
              Statement date:
              .pull-right
                = format_date(@bill.statement.generated)
            %li.list-group-item
              For period:
              .pull-right
                = format_period(@bill.statement.period)
            %li.list-group-item
              Payment due:
              .pull-right
                = format_date(@bill.statement.due)
          %ul.nav.nav-pills.nav-stacked
            %li
              %a{href: '/package'}
                Package
            %li
              %a{href: '/call-charges'}
                Call Charges
            %li
              %a{href: 'sky-store'}
                Sky Store
        .col-md-8
          =yield
