= haml :navigation
#package
  .panel.panel-default
    .panel-heading
      .panel-title
        %h3 Subscriptions
    %table.table.table-striped
      %thead
        %tr
          %th Type
          %th Name
          %th
            .pull-right
              Cost
      - @bill.package.subscriptions.each do |sub|
        %tbody
          %tr
            %td=sub_type(sub)
            %td=sub.name
            %td
              .pull-right
                =format_cost(sub.cost)
    .panel-footer
      %h5
        Package Total:
        .pull-right
          = format_cost(@bill.package.total)
