%ul.list-group
  %li.list-group-item
    Package Total:
    .pull-right
      =format_cost(@bill.package.total)

  %li.list-group-item
    Call Charges Total:
    .pull-right
      =format_cost(@bill.callCharges.total)

  %li.list-group-item
    Sky Store Total:
    .pull-right
      =format_cost(@bill.skyStore.total)

  %li.list-group-item.list-group-item-info
    Statement Total:
    .pull-right
      =format_cost(@bill.total)
    .clearfix
