%ul.list-group
  %li.list-group-item
    Package Total:
    .pull-right
      =@bill.package.total

  %li.list-group-item
    Call Charges Total:
    .pull-right
      =@bill.callCharges.total

  %li.list-group-item
    Sky Store Total:
    .pull-right
      =@bill.skyStore.total

  %li.list-group-item
    Statement Total:
    .pull-right
      =@bill.total
    .clearfix
