=haml :navigation
#sky-store
  .panel.panel-default
    .panel-heading
      .panel-title
        %h3 Sky Store
    - ['rentals', 'buyAndKeep'].each do |store|
      .panel.pane-default
        .panel-heading
          .panel-title
            %h5=store_title(store)
      %table.table.table-striped
        %thead
          %tr
            %th Title
            %th Cost
        %tbody
          - @bill.skyStore[store].each do |item|
            %tr
              %td=item.title
              %td
                .pull-right
                  =format_cost(item.cost)
    .panel-footer
      Sky Store Total:
      .pull-right
        =format_cost(@bill.skyStore.total)
